@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Monda&family=Noticia+Text&display=swap');


* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	
}

html {
	scrollbar-width: none;  
	-ms-overflow-style: none;  
}

html::-webkit-scrollbar {
	display: none;
}

main {
	overflow: hidden;
  	position: relative;
  	height: 100vh;
	background-color: black;
}

section {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: black;
}

section.active {
	transform: translateY(0);
}


.hero {
	display: flex;
	align-items: center;
	background-color: rgb(0, 0, 0);
	transform: translateY(-100%);
}

.hero .container {
	margin-top: 8em;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5em;
}

.hero .container .main-text {
	padding-left: 10em;
}

.hero .container .main-text h1{
	color: rgb(255, 255, 255);
	font-weight: lighter;
	line-height: 1em;
	font-family: 'Monda', sans-serif;	
}

.hero .container .main-text h1:nth-child(1) {
	font-size: 5rem;
}

.hero .container .main-text h1:nth-child(2) {
	font-size: 3rem;
} 

.hero .container .main-text .name {
	font-size: 3.5em;
}

.hero .container nav {
	padding-left: 20em;
}

.hero .container nav ul {
	display: flex;
	justify-content: center;
	gap: 5em;
}

.hero .container nav ul li a {
	font-family: 'Monda', sans-serif;
	font-size: 1.5em;
	color: rgb(255, 255, 255);
	cursor: pointer;	
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10vh;
	transform: translateY(100%);
}

.about .header {
	color: white;
}

.about .header h1 {
	font-family: 'Monda', sans-serif;
	font-weight: lighter;
	font-size: 2rem;
}

.about .content {
	text-align: center;
	color: white;
	height: 50vh;
	width: 50vw;
}

.about .content p {
	font-family: 'Monda', sans-serif;
	font-weight: lighter;
	font-size: 1.5rem;
}

.portfolio {
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10vh;
	transform: translateY(100%);
}

.portfolio .header {
	color: rgb(255, 255, 255);
}

.portfolio .header h1 {
	font-family: 'Monda', sans-serif;
	font-weight: lighter;
	font-size: 2rem;
}

.portfolio .content {
	text-align: center;
	color: white;
	display: flex;
	gap: 2em;
}

.portfolio .content .outer {
	position: relative;
	background-color: rgb(216, 216, 216);
	height: 50vh;
	width: 25vw;
	overflow: hidden;
}

.portfolio .content .outer .inner {
	position: absolute;
	background-color: grey;
	height: 100%;
	width: 100%;
	right: 100%;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 3em;
}

.portfolio .content .outer .inner p {
	font-size: 1.5rem;
	opacity: 0;
}

.portfolio .content .outer:hover .inner {
	transition: .5s;
	background-color: rgb(104, 104, 104);
	right: 0;	
}

.portfolio .content .outer:hover .inner p {
	transition: 2s;
	opacity: 1;
}


.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10vh;
	background-color: black;
	transform: translateY(100%);
}

.contact .header {
	color: white;
}

.contact .header h1 {
	font-family: 'Monda', sans-serif;
	font-weight: lighter;
	font-size: 2rem;
}

.contact .content {
	text-align: center;
	color: white;
	height: 50vh;
	width: 50vw;
}

.contact .content p {
	font-family: 'Monda', sans-serif;
	font-weight: lighter;
	font-size: 1.5rem;
}

.hideup {
	
	transform: translateY(-100%);
}

.hidedown {
	transform: translateY(100%);
}

.anim {
	transition: 1s ease-in-out;
}

.noanim {
	transition: 0;
}

.norefresh {
	overscroll-behavior: contain;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  {

	.hero .container {
		margin-top: 0;
		gap: 10em;
	}
	
	.hero .container .main-text {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.hero .container .main-text h1{
		font-weight: lighter;
		line-height: 1em;
	}
	
	.hero .container .main-text h1:nth-child(1) {
		font-size: 3rem;
	}
	
	.hero .container .main-text h1:nth-child(2) {
		font-size: 2rem;
	} 
	
	.hero .container nav {
		padding-left: 0;
	}
	
	.hero .container nav ul {
		gap: 1em;
	}
	
	.hero .container nav ul li a {
		font-size: 1em;
		font-weight: lighter;
	}

	.about .content {
		width: 85vw;
	}

	.about .content p {
		font-size: 1.2em;
	}
	
	.portfolio .content {
		flex-direction: column;
		gap: 2em;
		height: 50vh;
	}
	
	.portfolio .content .outer {
		position: relative;
		background-color: rgb(216, 216, 216);
		height: 10em;
		width: 15em;
		overflow: hidden;
	}

	.portfolio .content .outer .inner p {
		opacity: 0;
		font-size: 1.2rem;
	}
	
	.portfolio .content .outer:hover .inner {
		transition: .5s;
		background-color: rgb(104, 104, 104);
		right: 0;	
	}
	
	.portfolio .content .outer:hover .inner p {
		transition: 2s;
		opacity: 1;
	}

	.contact .content {
		width: 100%;
	}

	.contact .content p {
		font-size: 1.2em;
	}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }