@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px red solid;
}  */

body {
  height: calc(100% - 40px);
  background-color: black;
}
